.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-weight: 700;
    font-family: "Roboto Light";
}

.login {
    width: 413px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*позволил себе чуть подэтого логин*/
    align-items: center;

    padding: 20px;
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.login input {
    width: 240px;
    height: 20px;
    outline: none;
    border: none;
    border-bottom: 1px #726d6f solid;
    padding: 5px;
}

.login form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 0;
}

.second span {
    color: #726d6f;
    font-family: 'Montserrat', sans-serif;
}

.rememberMeBlock {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 20px;
}

.rememberMeBlock span {
    width: 140px;
    color: #726d6f;
    font-family: 'Montserrat', sans-serif;
}

.rememberMeBlock input {
    width: 20px;
}

.login button {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #4f74cb;
    border-radius: 0.6em;
    color: #4f74cb;
    cursor: pointer;
    line-height: 1;
    font-size: large;
    padding: .5em 1.5em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.login button:hover {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #4f74cb inset;
}

.footer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.LinkItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.LinkItem span {
    width: 50%;
    color: #726d6f;
    font-family: 'Montserrat', sans-serif;
}

/*позволил себе чуть подэтого логин*/


.Link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #4f74cb;

}

.Link:hover {
    text-decoration: underline;
    color: #092c7e;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
}


