.profilePage {
    min-height: 100vh;
}

.profileContainer {
    margin: 20px auto;
    width: 413px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border: outset 4px;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    font-family: 'Akaya Telivigala', cursive;
}

.profileContainer img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-bottom: 20px;
}

.profileContainer span {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}


.profileInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 30%;
    margin-bottom: 40px;
}

.yourNameMessage {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.description {
    color: #726d6f;
    font-family: 'Montserrat', sans-serif;
}

.changeNameContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    height: 30%;
    margin-bottom: 40px;
}

.changeNameContainer input {
    width: 95%;
    min-height: 30px;
    border: none;
    border-bottom: 1px solid #5f7271;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}


.errorMessage {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    text-transform: uppercase;
    color: #bd312d;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button {
    margin-top: 30px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #4f74cb;
    border-radius: 0.6em;
    color: #4f74cb;
    cursor: pointer;
    line-height: 1;
    font-size: large;
    padding: .5em 1.5em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.button:hover {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #4f74cb inset;
}