@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap');

.logOutBlock {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
}

.title {
    font-size: 40px;
    font-weight: 700;
}

.text {
    margin: 15px 0 5px 0;
    font-size: 24px;
    font-weight: 500;
}

.logoutBtn {
    margin: 20px auto;
    color: #000;
    width: 200px;
    padding: 10px;
    background-color: #5e9ee7;
    border:1px solid #9ba4e9;
    font-family: 'Kaushan Script', cursive;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.logoutBtn:hover{
    opacity: 0.9;
    color: white;
    border: solid 1px white;
}
