.tableHeader {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;;
    background-color: #d6dcea;
}

.tableHeader button {
    background: #a5add7;
    border: none;
    margin-left: 1px;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
