.table {
    width: 100%;
    border: 1px black solid;
    margin: 2px 0;
}

.tableRow {
    display: flex;
    justify-content: space-between;
}

.tableRow:nth-child(odd) {
    background-color: #a0c8ea;
    padding: 5px 0;
}

.tableCell {
    text-align: center;
    width: 25%;
}

.tableCell:nth-child(3), :nth-child(4) {
    font-size: 14px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.BtnContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

