.tableHeader{
    list-style-type : none;
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;;
}

.tableHeader button {
    background: white;
    border: none;
    margin-left: 1px;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
}
