.table {
    width: 100%;
    border: 1px black solid;
    margin: 2px 0;
}

.tableRow {
    display: flex;
    justify-content: space-evenly;
}

.tableRow:nth-child(odd) {
    background-color: #a0c8ea;
    padding: 5px 0;
}

.tableCell {
    text-align: center;
}
