.table{
    width: 100%;
    height: 50px;
   border: 1px black solid;


}
.tableRow{


    display: flex;
    justify-content: space-evenly;


}
.tableRow:nth-child(2n+1){
    background-color: #a0c8ea;
}
.tableCell{
    text-align: center;


}
