.cardsListBlock {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.cardsList {
    width: 100%;
    height: 100%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    background: #f3f0f0;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.searchContainer h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    padding-bottom: 10px;
    color: #333
}

.searchContainer input {
    width: 58%;
    height: 30px;
    border-radius: 5px;
    margin: auto;
}

.searchContainer button {
    margin-left: 10px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #4f74cb;
    border-radius: 0.6em;
    color: #4f74cb;
    cursor: pointer;
    line-height: 1;
    font-size: large;
    padding: .3em 1.5em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.searchContainer button:hover {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #4f74cb inset;
}

.cardsBlock {
    width: 100%;
    height: 70%;
    margin: auto;
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    overflow: auto;
}

@media (max-width: 1060px) {

    .searchContainer input {
        width: 48%;
    }

    .searchContainer button {
        font-size: 16px;
        padding: .45em 1.0em;
    }
}

@media (max-width: 785px) {

    .searchContainer h2 {
        font-size: 20px;
    }

    .searchContainer input {
        height: 20px;
    }

    .searchContainer button {
        font-size: 12px;
        padding: .45em 1.0em;
    }
}
