.addItemContainer {
    background-color: white;
    margin: 0 auto;
    width: 400px;
    /*height: 300px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}


.addItemContainer h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.centerInputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerInputContainer span {
    font-family: 'Montserrat', sans-serif;
    color: #726d6f;
}

.centerInputContainer input {
    width: 80%;
    min-height: 30px;
    border: none;
    border-bottom: 1px solid #5f7271;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}


.makePrivateContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.makePrivateContainer span {
    font-family: 'Montserrat', sans-serif;
    color: #726d6f;
}

.addItemContainer button {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #4f74cb;
    border-radius: 0.6em;
    color: #4f74cb;
    cursor: pointer;
    line-height: 1;
    font-size: large;
    padding: .5em 1.5em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    margin: 5px

}

.addItemContainer button:hover {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #4f74cb inset;
}

.inputForm {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.inputForm:hover {
    text-decoration: underline;
}

.mainText {
    font-size: 26px;
    font-family: 'League Spartan', sans-serif ;
}