.TableContainer {
    display: flex;
    justify-content: space-around;
    width: 98%;
    background-color: #edf2f5;
    margin: 5px;
    border-radius: 5px;
}

.TableItem__name {
    width: 16%;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    padding-left: 10px;
}

.TableItem__cardsCount {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.TableItem__data {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.TableItem__userName {
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    font-size: 13px;
}

.TableItem__BtnGroup {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BtnGroup__Item__My {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    text-align: end;
    font-family: 'Akaya Telivigala', cursive
}

.Btn {
    background-color: #b2ecee;
    padding: 3px 8px;
    border: 1px solid #1c5886;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    min-width: 35px;
    text-align: center;
    margin-right: 2px;
}

.Btn:hover {
    background-color: #fff;
    border: 2px solid #1c73ab;
    color: #2472b0;
    font-weight: 700;
    transition: background-color .5s linear, color .5s linear;
}