.TableContainer {
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 98%;
    margin-top: 5px;
    margin-left: 1%;
    background-color: #f3f0f0;
    border-radius: 5px;
    cursor: pointer;
}

.TableItem__name {
    word-wrap: break-word;
    width: 22%;
}

.TableItem__cardsCount {
    width: 9%;
}

.TableItem__data {
    width: 22%;
}

.TableItem__userName {
    width: 25%;
    word-wrap: break-word;
}

.TableItem__BtnGroup {
    width: 21%;
}

.BtnGroup__Item__My {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: end;
}

.Btn {
    text-transform: uppercase;
    font-family: 'Akaya Telivigala', cursive;
    background-color: #d6dcea;
    padding: 3px 8px;
    border: 2px solid #1c5886;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em;
    min-width: 35px;
    text-align: center;
    margin-right: 2px;
}

.Btn:hover {
    background-color: #ecf1f5;
    border: 2px solid #1c73ab;
    color: #2472b0;
    font-weight: 700;
    transition: background-color .2s linear, color .2s linear;
}


.window {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.updated {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: small;
}

.tableHeaderWithId.window {
    width: 20%;
    justify-content: flex-start;
    text-align: center;
    background-color: #80004d;
}

.tableHeaderWithId.updated {
    width: 20%;
    justify-content: center;
}