@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap');

.packsListBlock {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
    background: white;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

}

.showPacks {
    text-align: center;
    padding: 0 30px;
    background: #d2d2e7;
}

.showPacks button {
    border: none;
    width: 70px;
    height: 30px;

}
.selected {
    color: white;
    background-color: #899de5;
}
.packsList {
    width: 100%;
    height: 100%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    background: #f3f0f0;
}

.packsList input {
    width: 60%;
    height: 35px;
    border-radius:  0.6em;

}

.buttonSearch {
    margin-left: 30px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #4f74cb;
    border-radius: 0.6em;
    color: #4f74cb;
    cursor: pointer;
    line-height: 1;
    font-size: large;
    padding: .5em 1.5em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.packsList button:hover{
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #4f74cb inset;
}

.cardsBlock {
    width: 100%;
    height: 70%;
    margin: auto;
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    overflow: auto;
}

.title {
    font-family: 'Kaushan Script', cursive;
    font-size: 22px;
    padding-bottom: 10px;
    color: #333
}
