.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin: 0 10px;
}
.active{
    font-weight: bold;
    font-size: 25px;
    opacity: 1;
    color: blue;
}
.activeR{
    font-weight: bold;
    font-size: 25px;
    color: #F7D748;
}