.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    opacity: 0.6;
}
.active{
    font-weight: bold;
    font-size: 25px;
    opacity: 1;
    color: blue;
}
.activeR{
    font-weight: bold;
    font-size: 25px;
    opacity: 1;
    color: #fff200;
}